<div class="card-container">
  <h1>Scripts</h1>
  <button mat-raised-button (click)="addScript()">Add</button>
  <div *ngFor="let script of scripts$ | async; let i = index">
    <mat-card class="script-card">
      <mat-card-header>
        <mat-card-title>{{ script.name }}</mat-card-title>
        <mat-card-subtitle>{{ script.desc }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <!-- TODO: Code preview  -->
        <pre>{{ script.data }}</pre>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button (click)="editScript(script)">Edit</button>
        <button mat-button (click)="deleteScript(script)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
